<ul>
  <li>
    <p>Login:</p>
    {{ loginForm|raw }}
  </li>
  <li>or</li>
  <li>
    <a href="/index/register">Register</a>
  </li>
</ul>

<h3>Messages:</h3>
<p class="notice">{{ message }}</p>

{#<div id="welcome">#}
    {#<h1>Welcome to the zfdoc</h1>#}
    {#<h2>Zend Framework 1.11.11 and Doctrine 1.2.4 integration</h2>#}
    {#<h3>Also starring: Twig - The flexible, fast, and secure template engine for PHP</h3>#}
{#</div>#}

{% if langs|length > 0 %}

<ul>
    {% for lang in langs %}

    <li>{{ lang.name|e }}</li>
    {#{% data = array('id' : 'id', 'lang' : lang) %}#}
    {#{% data['1','2','3'] %}#}
    {#{{ partial('partials/notice.twig', data)}}#}

    {% endfor %}
</ul>

{% else %}

<p class="error">No languages found.</p>

{% endif %}

<label for="msg">Message:</label>
<input name="msg" id="msg" value="">
<a href="#" id="getitems">Get response</a>

<div id="messages">
</div>